
@media (max-width: 2040px) {
    
}

@media (max-width: 1440px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 320px) {
    
}

